@font-face {
    font-family: Roboto;
    src: url(https://dronenr.com.au/assets/fonts/Roboto.woff2);
    font-weight: normal;
}

@font-face {
    font-family: brk;
    src: url(https://dronenr.com.au/assets/fonts/brk.ttf.woff);
    font-weight: normal;
}

@font-face {
    font-family: EthnocentricRg;
    src: url(https://dronenr.com.au/assets/fonts/EthnocentricRg.ttf.woff);
    font-weight: normal;
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
}

::selection {
    background-color: #ffffff;
    color: #16036f;
}

html,
body {
    height: 100dvh;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
}

.parent {
    overflow: auto;
    height: 100dvh;
    scroll-snap-points-y: repeat(100dvh);
    scroll-snap-type: y mandatory;
    flex-flow: column nowrap;

}

section {
    height: 100dvh;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    scroll-snap-align: start;
    position: relative;
}

/* Section 1 */
.one {
    background-color: #000000;
}

.main-logo {
    font-family: Roboto;
    font-size: 1.875rem;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    background-color: #222222;
    padding: 14px;
    border-radius: 10px;
}

/* Section 2 */
.two {
    background-color: #ffffff;
}

.second-logo {
    font-family: EthnocentricRg;
    font-size: 2.188rem;
    font-weight: normal;
}

/* Section 3 */
.three {
    background-color: #16036f;
}

.third-logo {
    font-family: brk;
    font-size: 2.188rem;
    font-weight: normal;
}

.drnrOG {
    width: 100px;
    margin-left: -80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "drone com"
        "nr com";
}

.drone {
    grid-area: drone;
    text-align: right;
}

.nr {
    grid-area: nr;
    text-align: right;
    font-size: 130%;
    margin-top: -7px;
}

.com {
    grid-area: com;
    transform: rotate(-90deg);
    font-size: 75%;
}